.about__h1{
    color: $maincolor;
    font-family: acier-bat-gris, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-transform: uppercase;
}

.about__text{
    padding-top: 10px;
}

.about__signature--desktop{
    display: none;
  }
 .about__signature--mobile{
    display: block;
}

@media only screen and (min-width: 768px) {
.about__signature--mobile{
    display: none;
  }
 .about__signature--desktop{
    display: block;
}
}
