.cv__h1{
    color: $maincolor;
    font-family: acier-bat-gris, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}


.cv__timeline {
  list-style: none;
  padding: 50px 0 20px;
  position: relative;
}

.cv__timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;

}

.cv__timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline__cv > li:before,
.timeline__cv > li:after {
  content: " ";
  display: table;
}

.cv__timeline > li:after {
  clear: both;
}

.cv__timeline > li:before,
.cv__timeline > li:after {
  content: " ";
  display: table;
}

.cv__timeline > li:after {
  clear: both;
}

.cv__timeline > li > .timeline__panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.175);
}

.cv__timeline > li > .timeline__panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.cv__timeline > li > .timeline__panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}


.cv__timeline > li.timeline__inverted > .timeline__panel {
  float: right;
}

.cv__timeline > li.timeline__inverted > .timeline__panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.cv__timeline > li.timeline__inverted > .timeline__panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.heading__title {
  margin-top: 0;
  color: $maincolor;
  text-transform: uppercase;

}

.timeline__body > p,
.timeline__body > ul {
  margin-bottom: 0;
}

.timeline__body > p + p {
  margin-top: 5px;
}

.heading__undertext{
    font-size: 12px;
    font-style: italic;
}

@media only screen and (max-width: 375px) {
.heading__title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 414px) {
.heading__title {
    font-size: 18px;
  }
}
