@import url("https://use.typekit.net/wic0adi.css");

$fontfamily: 'helvetica';
$maincolor: #8C5535;
$secondarycolor: #FFFFFF;

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.logo__icon{
    height: 100px;
    width: 70px;
    position: absolute;
    top: 5px;
    left: 25px;
}

.nav__container{
    background: url("../image/headerimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav__link{
    color: black;
    font-family: $fontfamily;
    padding: 15px;
    letter-spacing: 2px;
    font-size: 14px;
}

.nav__link:hover {
    color: $maincolor;
    text-decoration: line-through;
}

.nav__link--active{
    font-weight: bold;
    color: $maincolor;
}

.hero__heading{
    text-align: center;
    padding-top: 250px;
}

.hero__heading h1{
    font-size: 70px;
    color: $maincolor;
    font-family: acier-bat-gris, sans-serif;
    font-style: normal;
    letter-spacing: 8px;
}

.hero__heading h2{
    font-family: $fontfamily;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $secondarycolor;
    font-weight: lighter;
}

.heading__scrolldown{
    padding-top: 170px;
    color: $secondarycolor;
    text-decoration: none;
    font-weight: 200;
}

.heading__scrolldown a:hover {
    color: $maincolor;
    text-decoration: line-through;
}

.heading__scrolldown a{
    color: white;
    letter-spacing: 1px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(140, 85, 53)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: $maincolor;
    border: none;
}

@media only screen and (max-width: 414px) {
    .hero__heading h1{
        font-size: 60px;
    }
}

@media only screen and (max-width: 414px) {
    .custom-collapse{
    
    }
}
