.home{
    height: 100vh;
}

.home__h1{
    color: #EFC392;
    font-family: acier-bat-gris, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

// .col-md-6 {
// padding-top: 20px;
// }

.home__projects{
    background-color: blue;
    padding-bottom: 20px;
}
