.home{
    height: 100vh;
}

.home__h1{
    color: $maincolor;
    font-family: acier-bat-gris, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding-bottom: 30px;
}

.home__projects{
    padding-bottom: 20px;
}


.home__centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
